html {
    font-family: "Avenir Next", Helvetica, sans-serif;
    text-align: center;
    height: 100%;
}

body {
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

input {
    padding-top: 30px;
    width: 500px;
    height: 60px;
    font-size: 40px;
    border: 0;
    text-align: center;
}

    input:focus {
        outline: none;
    }

li {
    text-align: left;
    font-size: 40px;
    list-style: none;
    margin: 0;
    text-align: center;
}

p.double {
    border-style: double;
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
    background-color:lightblue;
}

div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 50px;
    font-size: 20px;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    
}

.footer {
    margin-top: auto;
}


.remove {
    padding-bottom: 5px;
}

